<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{{url_for('static',filename='css/new.css')}}"></link>

  <script src="https://unpkg.com/wavesurfer.js"></script>
  {% block head %}{% endblock %}
</head>
<body >
{% block body %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static',filename='javascript/indexOf.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>


</body>
</html>
